<h1>Edit Book</h1>

<%# the partial form is rendered just like in the new view %>
<%= render 'form' %>
<%# when the user clicks on update, the update action is perfored and
the user is redirected to the book's show page %>